In [1]:
# import required packages

import numpy as np
import pandas as pd
import math
import sklearn
import sklearn.preprocessing
import datetime
import os
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
# display parent directory and working directory

print(os.path.dirname(os.getcwd())+':', os.listdir(os.path.dirname(os.getcwd())));
print(os.getcwd()+':', os.listdir(os.getcwd()));

C:\Users\sanch\OneDrive\Documents\Graduate School\UT-Austin - MSIS\CE 395R - Data Mining: ['CE395R5_SP18_Syllabus.pdf', 'CE_395R5_SP18_SP.pdf', 'Computer Laboratory', 'data', 'Homework', 'Lecture Notes', 'Project', 'Textbooks']
C:\Users\sanch\OneDrive\Documents\Graduate School\UT-Austin - MSIS\CE 395R - Data Mining\Project: ['.ipynb_checkpoints', 'dpr-data.xlsx', 'duc-data.xlsx', 'project_prototype_v1.1.ipynb', 'Sanchit_Milind_Project_Proposal_CE395R.docx', 'Sanchit_Milind_Project_Proposal_CE395R.pdf', 'Table_3.1_Petroleum_Overview.csv', 'Table_3.1_Petroleum_Overview.xlsx']

In [3]:
# split data in 80%/10%/10% train/validation/test sets

valid_set_size_percentage = 10 
test_set_size_percentage = 10

In [4]:
# import data

df = pd.read_csv("Table_3.1_Petroleum_Overview.csv", index_col = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541 entries, 1973 January to 2018 January
Data columns (total 13 columns):
Crude Oil Production, 48 States                       541 non-null float64
Crude Oil Production, Alaska                          541 non-null float64
Crude Oil Production, Total                           541 non-null float64
Natural Gas Liquids Production                        541 non-null float64
Total Petroleum Field Production                      541 non-null float64
Renewable Fuels and Oxygenate Plant Net Production    541 non-null object
Petroleum Processing Gain                             541 non-null float64
Petroleum Imports                                     541 non-null float64
Petroleum Exports                                     541 non-null float64
Petroleum Net Imports                                 541 non-null float64
Petroleum Stock Change                                541 non-null float64
Petroleum Adjustments                                 541 non-null float64
Petroleum Products Supplied                           541 non-null float64
dtypes: float64(12), object(1)
memory usage: 59.2+ KB

In [5]:
df.head()

,"Crude Oil Production, 48 States","Crude Oil Production, Alaska","Crude Oil Production, Total",Natural Gas Liquids Production,Total Petroleum Field Production,Renewable Fuels and Oxygenate Plant Net Production,Petroleum Processing Gain,Petroleum Imports,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Adjustments,Petroleum Products Supplied
Month,,,,,,,,,,,,,
1973 January,8981.323,194.613,9175.935,1680.032,10855.968,Not Available,457.677,5857.097,210.613,5646.484,-1718.323,34.194,18712.645
1973 February,9178.750,216.464,9395.214,1744.893,11140.107,Not Available,409.857,6507.286,260.964,6246.321,-1407.357,-109.500,19094.143
1973 March,9098.194,173.742,9271.935,1734.484,11006.419,Not Available,401.677,6610.161,224.194,6385.968,672.806,94.968,17216.226
1973 April,9095.200,196.700,9291.900,1749.600,11041.500,Not Available,373.500,5593.367,275.567,5317.800,871.267,59.000,15920.533
1973 May,9062.548,199.839,9262.387,1739.258,11001.645,Not Available,533.419,5840.935,237.387,5603.548,658.032,145.226,16625.806

In [6]:
df.tail()

,"Crude Oil Production, 48 States","Crude Oil Production, Alaska","Crude Oil Production, Total",Natural Gas Liquids Production,Total Petroleum Field Production,Renewable Fuels and Oxygenate Plant Net Production,Petroleum Processing Gain,Petroleum Imports,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Adjustments,Petroleum Products Supplied
Month,,,,,,,,,,,,,
2017 September,9002.513,482.156,9484.669,3692.633,13177.302,1176.165,1016.333,9707.033,6263.299,3443.735,-261.084,506.013,19580.632
2017 October,9147.812,506.624,9654.436,3967.516,13621.952,1208.417,1080.516,9661.194,7163.437,2497.757,-1133.002,264.746,19806.391
2017 November,9528.020,509.915,10037.935,4053.500,14091.435,1262.378,1145.933,9782.633,7158.223,2624.411,-690.766,463.287,20278.210
2017 December,9234.000,515.000,9749.000,3720.000,13469.000,1110,1160.000,9947.000,6449.000,3498.000,-826.510,518.490,20582.000
2018 January,9371.000,510.000,9881.000,3985.000,13866.000,1130,1115.000,10221.000,6240.000,3981.000,-410.600,295.400,20798.000

In [7]:
df.describe()

,"Crude Oil Production, 48 States","Crude Oil Production, Alaska","Crude Oil Production, Total",Natural Gas Liquids Production,Total Petroleum Field Production,Petroleum Processing Gain,Petroleum Imports,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Adjustments,Petroleum Products Supplied
count,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000
mean,6195.864677,1092.256773,7288.121414,1907.890921,9196.012386,791.665224,9172.248150,1439.075941,7733.172233,47.942279,328.821723,18206.150155
std,1464.148225,569.205175,1431.379929,531.380584,1622.119733,226.514126,2560.087019,1405.103506,2509.958164,726.281002,250.238104,1654.483378
min,3289.872000,148.613000,3970.932000,1342.742000,5485.032000,373.500000,3689.513000,155.774000,2497.757000,-2839.857000,-363.633000,14504.705000
25%,4897.615000,567.481000,5855.104000,1614.456000,7744.882000,577.133000,7068.032000,702.948000,5726.548000,-420.452000,143.613000,16877.767000
50%,5718.770000,1010.883000,7386.585000,1732.300000,9076.885000,801.968000,9151.067000,937.033000,7549.947000,137.806000,319.346000,18398.036000
75%,7193.300000,1639.110000,8611.258000,1890.933000,10228.194000,1001.067000,11105.067000,1353.147000,9725.677000,533.677000,500.123000,19552.067000
max,9528.020000,2086.065000,10037.935000,4053.500000,14091.435000,1190.258000,14696.613000,7163.437000,13441.711000,1619.355000,1073.870000,21666.060000

In [20]:
df.plot(x='Total Petroleum Field Production', y='Crude Oil Production, 48 States')
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'